x-automation/n8n-workflows/blogger-get-blog-id.json
{
  "name": "Blogger - Get Blog ID",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/blogger/v3/users/self/blogs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "id": "get-blogs",
      "name": "Get My Blogs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "googleOAuth2Api": {
          "id": "YOUR_GOOGLE_OAUTH2_CREDENTIAL_ID",
          "name": "Google Blogger OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 블로그 목록에서 Blog ID를 추출합니다\nconst blogs = $input.first().json.items || [];\n\nif (blogs.length === 0) {\n  return [{ json: { message: '블로그를 찾을 수 없습니다. Blogger에서 블로그를 먼저 생성하세요.' } }];\n}\n\nreturn blogs.map(blog => ({\n  json: {\n    blogId: blog.id,\n    name: blog.name,\n    url: blog.url,\n    description: blog.description || 'N/A',\n    postsCount: blog.posts?.totalItems || 0,\n    instruction: `이 Blog ID를 n8n 환경변수 BLOGGER_BLOG_ID에 설정하세요: ${blog.id}`\n  }\n}));"
      },
      "id": "extract-blog-id",
      "name": "Extract Blog IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get My Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Blogs": {
      "main": [
        [
          {
            "node": "Extract Blog IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "blogger",
      "id": "1"
    },
    {
      "name": "setup",
      "id": "2"
    }
  ],
  "triggerCount": 0,
  "pinData": {}
}
