x-automation/n8n-workflows/blogger-auto-post-webhook.json
{
  "name": "Blogger Auto Post - Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blogger-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "blogger-post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "title",
              "value": "={{ $json.title || 'Untitled Post' }}",
              "type": "string"
            },
            {
              "id": "content",
              "name": "content",
              "value": "={{ $json.content || $json.body || '' }}",
              "type": "string"
            },
            {
              "id": "labels",
              "name": "labels",
              "value": "={{ $json.labels || $json.tags || [] }}",
              "type": "array"
            },
            {
              "id": "isDraft",
              "name": "isDraft",
              "value": "={{ $json.isDraft === true ? true : false }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-post",
      "name": "Prepare Post Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/blogger/v3/blogs/{{ $env.BLOGGER_BLOG_ID }}/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"kind\": \"blogger#post\",\n  \"title\": \"{{ $json.title }}\",\n  \"content\": \"{{ $json.content.replace(/\"/g, '\\\\\"').replace(/\\n/g, '<br>') }}\",\n  \"labels\": {{ JSON.stringify($json.labels) }}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "publish-to-blogger",
      "name": "Publish to Blogger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "credentials": {
        "googleOAuth2Api": {
          "id": "YOUR_GOOGLE_OAUTH2_CREDENTIAL_ID",
          "name": "Google Blogger OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/blogger/v3/blogs/{{ $env.BLOGGER_BLOG_ID }}/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "isDraft",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"kind\": \"blogger#post\",\n  \"title\": \"{{ $json.title }}\",\n  \"content\": \"{{ $json.content.replace(/\"/g, '\\\\\"').replace(/\\n/g, '<br>') }}\",\n  \"labels\": {{ JSON.stringify($json.labels) }}\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "save-as-draft",
      "name": "Save as Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "credentials": {
        "googleOAuth2Api": {
          "id": "YOUR_GOOGLE_OAUTH2_CREDENTIAL_ID",
          "name": "Google Blogger OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-draft",
              "leftValue": "={{ $json.isDraft }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-draft-check",
      "name": "Is Draft?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result-status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "result-post-url",
              "name": "postUrl",
              "value": "={{ $json.body.url || $json.url || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "result-post-id",
              "name": "postId",
              "value": "={{ $json.body.id || $json.id || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "result-title",
              "name": "title",
              "value": "={{ $json.body.title || $json.title || 'N/A' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Post published successfully\",\n  \"postId\": \"{{ $json.postId }}\",\n  \"postUrl\": \"{{ $json.postUrl }}\",\n  \"title\": \"{{ $json.title }}\"\n}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Failed to publish post\",\n  \"error\": \"{{ $json.error || 'Unknown error' }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post Data": {
      "main": [
        [
          {
            "node": "Is Draft?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Draft?": {
      "main": [
        [
          {
            "node": "Save as Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish to Blogger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Blogger": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save as Draft": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "blogger",
      "id": "1"
    },
    {
      "name": "automation",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
