x-automation/n8n-workflows/x-auto-ifttt-simple.json
{
  "name": "X Auto Post via IFTTT",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "x-post-ifttt",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "x-post-ifttt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tweet-text",
              "name": "tweet_text",
              "value": "={{ $json.main_tweet || $json.text || $json.value1 }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-tweet",
      "name": "Prepare Tweet",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://maker.ifttt.com/trigger/post_to_x/with/key/bH8h_J3MQcS0Xy2XBC-ujC",
        "method": "POST",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "value1",
              "value": "={{ $json.tweet_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-to-ifttt",
      "name": "Send to IFTTT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Tweet posted via IFTTT",
              "type": "string"
            },
            {
              "id": "tweet",
              "name": "tweet",
              "value": "={{ $node['Prepare Tweet'].json.tweet_text }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Tweet": {
      "main": [
        [
          {
            "node": "Send to IFTTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to IFTTT": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "1"
}
