x-automation/n8n-workflows/x-auto-post-playwright.json
{
  "name": "X Auto Post - Playwright",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "x-playwright",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "x-playwright"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tweet-text",
              "name": "tweet_text",
              "value": "={{ $json.main_tweet || $json.tweet }}",
              "type": "string"
            },
            {
              "id": "replies",
              "name": "replies",
              "value": "={{ $json.replies || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "cd /path/to/x-automation && source .venv/bin/activate && python scripts/publish_via_playwright_single.py \"{{ $json.tweet_text }}\"",
        "options": {}
      },
      "id": "run-playwright",
      "name": "Run Playwright Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Tweet posted via Playwright",
              "type": "string"
            },
            {
              "id": "output",
              "name": "output",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Prepare Data", "type": "main", "index": 0}]]
    },
    "Prepare Data": {
      "main": [[{"node": "Run Playwright Script", "type": "main", "index": 0}]]
    },
    "Run Playwright Script": {
      "main": [[{"node": "Prepare Response", "type": "main", "index": 0}]]
    },
    "Prepare Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "1"
}
